{% extends 'base.html' %}
{% load static %}
{% load i18n %} 

{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/">{% trans "Home" %}</a></li>
	<li class="active">{% trans "Account" %}</li>
</ol>
{% endblock %}


{% block content %}
<div class="alert alert-danger"><strong>{% trans "Warning!" %}</strong> {% trans "You have " %}4 {% trans "unread messages."%} {% trans "You can read them in your" %} <strong><a href="" class="alert-link">{% trans "mailbox" %}</a></strong>.</div>
<div class="row">
	<div class="col-md-8 col-sm-7 text-center">
		<h3>
			{% trans "Welcome" %}
			{% if user.first_name %}
	            {{ user.first_name }} {{ user.last_name }}
	        {% else %}
	            {{ user }}
	        {% endif %} !
    	</h3>
    	<div class="text-center" style="margin-top:25px">
			<a class="btn btn-primary btn-lg" href="{%url 'search'%}" style="margin-right: 15px"><i class="glyphicon glyphicon-search"></i> {% trans "Search" %}</a>
			<a class="btn btn-primary btn-lg" href="{% url 'create_offer_demand' %}"><i class="glyphicon glyphicon-pencil"></i> {% trans "Create" %}</a>
		</div>
	</div>
	<div class="col-md-4 col-sm-5">
		<div class="clearfix" style="margin:15px"></div>
		<div class="col-xs-6">
			{% if not image or image == 'null' %}
            <img src="{% static 'images/default_avatar.jpg' %}" alt="Username" class="img-thumbnail img-responsive" style="margin: auto 0">
            {% else %}
            <img src="{{ MEDIA_URL }}{{ image }}" alt="{% trans "Profile picture" %}" class="img-thumbnail img-responsive" style="margin: auto 0">
            {% endif %}
		</div>
		<div  class="col-xs-6">
			{% if is_association_admin %}
				<a class="btn btn-info btn-sm" style="width: 100px; margin-bottom: 15px" href="{% url 'add_representative' %}">
					<i class="glyphicon glyphicon-plus"></i>
					{% trans "Add member" %}
				</a><br />
                <a class="btn btn-info btn-sm" style="width: 100px; margin-bottom: 15px" href="{% url 'add_pins' %}">
					<i class="glyphicon glyphicon-plus"></i>
					{% trans "Add PIN" %}
				</a><br />
			{% endif %}

            <form action="/edit_profile/" method="GET">
			<a class="btn btn-info btn-sm" style="width: 100px;" href="{% url 'edit_profile' %}">
				<i class="glyphicon glyphicon-pencil"></i>
				{% trans "Edit" %}
			</a>
            <input name="exists" value="True" type="hidden" readonly/>
            <input name="type" value="{{ type_user }}" type="hidden"/>
            </form>
		</div>
	</div>
</div>

<hr />

<div class="col-sm-6">

	<!--
	###########################
	##### SAVED SEARCHES  #####
	###########################
	-->
	<div class="panel panel-info box">
		<div class="panel-heading">
			<h3 class="panel-title">{% trans "Saved searches" %}</h3>
		</div>
		<ul class="list-unstyled">
			{% for elem in saved_searches %}
			<li>
				<a class="btn btn-primary btn-xs pull-right" href="{% url "search" %}?id={{ elem.1 }}">{% trans "Launch" %} <i class="glyphicon glyphicon-arrow-right"></i></a>
				{{ elem.1 }}
				<div class="clearfix"></div>
			</li>
			{% endfor %}
		</ul>
	</div>

	<!--
	############################
	##### PENDING REQUESTS #####
	############################
	-->
	<div class="panel panel-info box">
		<div class="panel-heading">
			<h3 class="panel-title">{% trans "Pending requests" %}</h3>
		</div>
		<ul class="list-unstyled">
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet.</li>
		</ul>
	</div>

	<!--
	############################
	##### SIMILAR REQUESTS #####
	############################
	-->
	<div class="panel panel-info box">
		<div class="panel-heading">
			<h3 class="panel-title">{% trans "Similar offers and demands" %}</h3>
		</div>
		<ul class="list-unstyled">
			{% for elem in similar %}
            	{% include 'request_details.html' %}
				<li data-toggle="modal" data-target="#TON_ID_ICI{{ elem.0.id }}" style="cursor: pointer;">{{ elem.0.name }}</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="col-sm-6">

	<!--
	####################
	##### SUMMARY  #####
	####################
	-->
	<div class="panel panel-info box">
		<div class="panel-heading">
			<h3 class="panel-title">{% trans "My summary" %}</h3>
		</div>
		<ul class="list-unstyled">
			<li>{{ summary.0 }} {% trans "requests are waiting for a matching" %}</li>
			<li>{{ summary.1 }} {% trans "requests are planed to be realised" %}</li>
			<li>{{ summary.2 }} {% trans "requests have been successfully realised" %}</li>
		</ul>
	</div>

	<!--
	#############################
	##### UPCOMING REQUESTS #####
	#############################
	-->
	<div class="panel panel-info box">
		<div class="panel-heading">
			<h3 class="panel-title">{% trans "Upcoming requests" %}</h3>
		</div>
		<ul class="list-unstyled">
			{% for elem in upcoming_requests %}
			<li>{{ elem.0 }} - {{ elem.1 }}</li>
			{% endfor %}
		</ul>
	</div>

	<!--
	######################
	##### FOLLOWING  #####
	######################
	-->
	<div class="panel panel-info box">
		<div class="panel-heading">
			<h3 class="panel-title">{% trans "Following" %}</h3>
		</div>
		<ul class="list-unstyled">
			{% for elem in following %}
			<li>{{ elem }}</li>
			{% endfor %}
		</ul>
	</div>
</div>


{% endblock %}
