{% extends 'base.html' %}
{% load static %}
{% load i18n %} 

{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
	<li><a href="{% url 'account' %}">{% trans "Account" %}</a></li>
	<li class="active">{% trans "Add a representative" %}</li>
</ol>
{% endblock %}


{% block content %}
{% if errorlist %}
    <div class="row warning">
        <div class="col-md-12 ">
            <h5>{% trans "There are errors in the form :" %}</h5>
            <ul>
            {% for errorname, errordesc in errorlist.items %}
                <li>{{ errorname }} : {{ errordesc }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% if success_messages %}
<div class="alert alert-success">
	<ul>
		{% for message in success_messages %}
			<li>{{ message }}</li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<div class="well">
<form class="form-horizontal" role="form" method="post">
	{% csrf_token %}
	{% if rows %}
		{% for row in rows %}
		<div class="to_duplicate row" style="margin-bottom: 20px;">
			<div class="col-xs-11">
				<div class="col-sm-3">
					<label for="inputName" class="col-xs-12" style="color: {{ row.last_name_color }} !important;">{% trans "Name" %}*</label>
					<div class="col-xs-12">
						<input type="text" class="form-control" id="inputName" placeholder="Name" name="last_name[]" value="{{ row.last_name }}" style="border-color: {{ row.last_name_color }} !important;" required>
					</div>
				</div>

				<div class="col-sm-3">
					<label for="inputFirstName" class="col-xs-12" style="color: {{ row.first_name_color }} !important;">{% trans "First name"%}*</label>
					<div class="col-xs-12">
						<input type="text" class="form-control" id="inputName" placeholder="First name" name="first_name[]" value="{{ row.first_name }}" style="border-color: {{ row.first_name_color }} !important;" required>
					</div>
				</div>

				<div class="col-sm-3">
					<label for="inputEmail" class="col-xs-12" style="color: {{ row.email_color }} !important;">{% trans "E-mail" %}*</label>
					<div class="col-xs-12">
						<input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email[]" value="{{ row.email }}" style="border-color: {{ row.email_color }} !important;" required>
					</div>
				</div>

				<div class="col-sm-3">
					<label for="inputLevel" class="col-xs-12" style="color: {{ row.level_color }} !important;">{% trans "Level" %}*</label>
					<div style="margin-right: 15px;margin-left: 15px;">
						<select class="form-control" id="inputLevel" name="memberLevel[]">
							<option value="1">{% trans 'Member' %}</option>
							<option value="0">{% trans 'Administrator' %}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-xs-1"><br />
				<a class="remove_line btn btn-danger" style="padding: 8px;padding-top: 3px;padding-bottom: 3px;margin-top:8px;"><i class="glyphicon glyphicon-minus"></i></a>
			</div>
		</div>
		{% endfor %}
	{% endif %}
	<div class="row" style="padding:15px">
		<div class="col-xs-6 text-left">
			<a class="btn btn-primary" id="add"><i class="glyphicon glyphicon-plus"></i> {% trans "Add line" %}</a>
		</div>	
		<div class="col-xs-6 text-right">
			<button type="submit" class="btn btn-success">{% trans "Add members" %}&nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right"></i></button>
		</div>
	</div>
</form>
</div>
{% endblock %}

