<script type="text/javascript">
     var RecaptchaOptions = {
        theme : 'clean',
        lang : '{{ LANGUAGE_CODE }}'
     };
 </script>
<span class="validation_error">{{ captcha_response }}</span>
<script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6LdiPOsSAAAAAOdcfqV19AdZFWYKvU2HsemxtVc1"></script>

<noscript>
    <iframe src="http://api.recaptcha.net/noscript?k=6LdiPOsSAAAAAOdcfqV19AdZFWYKvU2HsemxtVc1"
    height="300" width="500" frameborder="0"></iframe><br>
    <textarea name="recaptcha_challenge_field" rows="3" cols="40">
    </textarea>
    <input type="hidden" name="recaptcha_response_field"
    value="manual_challenge">
</noscript>