{% load i18n %} 
<optgroup label="{% trans 'Basic need' %}">
	<option value="food">{% trans 'Food' %}</option>
	<option value="hygiene">{% trans 'Hygiene' %}</option>
	<option value="sleeping_place">{% trans 'Sleeping place' %}</option>
	<option value="clothes">{% trans 'Clothes' %}</option>
</optgroup>

<optgroup label="{% trans 'Administration' %}">
	<option value="translations">{% trans 'Translations' %}</option>
	<option value="finding_house">{% trans 'Finding house' %}</option>
	<option value="juridical">{% trans 'Juridical' %}</option>
	<option value="asilum">{% trans 'Asilum questions' %}</option>
	<option value="identity_card">{% trans 'Identity card' %}</option>
	<option value="domiciliation">{% trans 'Domiciliation' %}</option>
	<option value="other_administration">{% trans 'Other' %}</option>
</optgroup>

<optgroup label="{% trans 'Socio-cultural' %}">
	<option value="cultural_activity">{% trans 'Cultural activity' %}</option>
	<option value="walk">{% trans 'Walk' %}</option>
	<option value="talk">{% trans 'Talk' %}</option>
</optgroup>

<optgroup label="{% trans 'Sport and danse' %}">
	<option value="football">{% trans 'Football' %}</option>
	<option value="badminton">{% trans 'Badminton' %}</option>
	<option value="swimming">{% trans 'Swimming' %}</option>
	<option value="salsa">{% trans 'Salsa' %}</option>
	<option value="rumba">{% trans 'Rumba' %}</option>
	<option value="other_sport">{% trans 'Other sport' %}</option>
</optgroup>

<optgroup label="{% trans 'Practical need' %}">
	<option value="scholar_material">{% trans 'Scholar material' %}</option>
	<option value="games">{% trans 'Games' %}</option>
	<option value="things">{% trans 'Things' %}</option>
	<option value="lift">{% trans 'Lift' %}</option>
	<option value="move">{% trans 'Move' %}</option>
	<option value="groceries">{% trans 'Groceries' %}</option>
</optgroup>

<optgroup label="{% trans 'Personal development' %}">
	<option value="language_course">{% trans 'Language course' %}</option>
	<option value="music">{% trans 'Music' %}</option>
	<option value="cooking">{% trans 'Cooking' %}</option>
	<option value="sewing">{% trans 'Sewing' %}</option>
	<option value="other_personal">{% trans 'Other' %}</option>
</optgroup>

<optgroup label="{% trans 'Financial' %}">
	<option value="garanty">{% trans 'Garanty' %}</option>
	<option value="micro_credit">{% trans 'Micro credit' %}</option>
</optgroup>

