{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h4 class="in_front"> {% trans "The Concept" %} </h4>
        <p>
            {% blocktrans %}
            Solidare-it! is an initiative that tries to enhance the solidarity and the exchange between
            citizens of all layers of society. From the name “Solidare-it !” we can distill the following things
            : “solidarity”, “dare it !” and “IT”. We try to stimulate people to dare becoming involved in real
            solidarity through information technology. The internet and the social networks which arise from it are
            used as tools to obtain this goal."
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
            Solidare-it! is an internet platform that acts as a meeting place to facilitate the contact
            and exchange between its users and to connect people throughout all layers of society. The primary purpose
            of the plat- form is to create a bridge and an exchange between local civilians who could use some help,
            and those who are willing to offer their assistance. The group of people in need can be very diverse. It
            can be families with financial problems, refugees looking for a new home, an old lady needing some help
            with a move, etc. Supportive local civilians can offer a bed, a shower, a meal, administrative help,
            clothes, simply a conversation, or other things. The exchange offers the people in need in the first place
            a temporary solution for an urgent problem. It can however enhance long term benefits. If a connection
            between two people from different backgrounds is made, both will exchange culture, knowledge, stories
            and experiences. This may generate and enhance mutual understanding, empathy and involvement. People will
            inspire and motivate each other. And finally this can lead to the emergence of friendships and a
            reinforcement of the social fabric.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
            In addition to individual citizens, social organisations play an important role in this network
            too, since they are often confronted with people in need. By using the network, social organisations are
            able to facilitate their work by finding civilian support. Through the social organisations, people in
            need without internet access, mobile devices, or computer skills can also become part of the network.
            By using the network, social organisations get more visibility and recognition for their work. The network
            is for everybody that instead of simply accepting things as they are, want to make a difference and believe
            that they have the responsibility and possibility of being part of the change towards a more inclusive
            world.
            {% endblocktrans %}
        </p>

	</div>
</div>

{% endblock %}