{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/">{% trans "Home" %}</a></li>
	<li href="active">{% trans "Contact" %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
   <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 coll-xs-offset-1">
        <h4 class="in_front"> {% trans "Contact us" %} </h4>
        <p>
            {% blocktrans %}
            In order to perform the quality of the site and offer the best service, please feel free to contact us by
            filling in this following form.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
            Your data remain confidential and will not be used by third parties.
            {% endblocktrans %}
        </p>
    </div>
</div>

{% if request_done == True %}
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 coll-xs-offset-1">
        <h5>{% trans "Your request or comment has been transmitted to the admins" %}</h5>
    </div>
</div>
{% else %}

<div class="row">
    <form class="form-horizontal" role="form" method="post" action="" autocomplete="on" enctype="multipart/form-data">
       {% csrf_token %}
        {% if error %}
            <div class="row warning">
                <div class="col-md-12 ">
                    <h5>{% trans "There are errors in the form :" %}</h5>
                    <ul>
                    {% for errorname, errordesc in errorlist.items %}
                        <li>{{ errorname }} : {{ errordesc }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        <div class="row form_blck">
            <div class="col-md-6">

                <!-- TITLE -->
                <div class="row form_el">
                    <label for="inputTitle" class="col-sm-4 control-label" style="color:{{ gender_color }} !important;">
                        {% trans "Title" %}</label>

                    <div class="col-sm-8">
                        <select id="inputTitle" name="title" class="form-control" onchange="VerifListe();"
                                style="border-color: {{ gender_color }}" >
                             <option value="Mr">{% trans "Mr." %}</option>
                             <option value="Ms">{% trans "Ms." %}</option>
                             <option value="Mrs">{% trans "Mrs." %}</option>
                             <option value="Miss">{% trans "Miss" %}</option>
                        </select>
                    </div>
                </div>

                <!-- NAME -->
                <div class=" row form_el">
                    <label for="inputName" class="col-sm-4 control-label" style="color:{{ name_color }}
                    !important;">
                        {% trans "Name" %}*</label>

                    <div class="col-sm-8 ">
                        <input type="text" class="form-control" id="inputName" name="name"
                               placeholder="{% trans " Name" %}" style="border-color: {{ name_color }}
                        !important;" value="{{ name }}" required autofocus>
                    </div>
                </div>

                <!-- FIRST NAME -->
                <div class="row form_el">
                    <label for="inputFirstName" class="col-sm-4 control-label" style="color:{{ first_name_color }}
                    !important;"> {% trans "First name" %}*</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputFirstName" name="first_name"
                               placeholder="{% trans "First name" %}" style="border-color: {{ first_name_color }} !
                        important;" value="{{ first_name }}" required>
                    </div>
                </div>

                <!-- EMAIL -->
                <div class=" row form_el">
                    <label for="inputEmail" class="col-sm-4 control-label" style="color:{{ email_color }}
                    !important;">{% trans " Email" %}*</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="inputEmail" name="email"
                               placeholder="{% trans " Email" %}"
                        style="border-color: {{ email_color }} !important;" value="{{ email }}"required>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- STREET -->
                <div class=" row form_el">
                    <label for="inputStreet" class="col-sm-3 col-xs-12 col-sm-offset-1 control-label"
                           style="color:{{ street_color }} !important;" >{% trans "Address" %}*</label>
                    <div class="col-sm-6 col-xs-9">
                        <input type="text" class="form-control" id="inputStreet" name="street"
                               placeholder="{% block address_placeholder %}{% trans "Street" %}
                        {% endblock %}" style="border-color: {{ street_color }} !important;"  value="{{ street }}">
                    </div>
                    <!-- STREET NUMBER -->
                    <div class="col-sm-2 col-xs-3">
                        <input type="text" class="form-control" id="inputNumber" name="streetnumber"
                               placeholder="{% trans "N°" %} " style="border-color: {{ streetnumber_color }}
                        !important;" value="{{ streetnumber}}">
                    </div>
                </div>

                <div class="row form_el">
                    <!-- CITY -->
                    <label for="inputCity" class="col-sm-3 col-sm-offset-1 col-xs-12 control-label"
                           style="color:{{ city_color }} !important;" >{% trans "City" %}*</label>
                    <div class="col-sm-5 col-xs-8">
                        <input type="text" class="form-control" id="inputCity" name="city"
                               placeholder="{% trans "City" %}" style="border-color: {{ city_color }}
                        !important;" value="{{ city }}" required>
                    </div>
                    <!-- POSTCODE -->
                    <div class="col-sm-3 col-xs-4">
                        <input type="text" class="form-control" id="inputPostCode" name="postcode"
                               placeholder="{% trans "Post code" %}" style="border-color: {{ postcode_color }}
                        !important;" value="{{ postcode }}" required>
                    </div>
                </div>

                <div class="row form_el">
                    <!-- COUNTRY -->
                    <label for="inputCountry" class="col-sm-3 col-sm-offset-1 col-xs-12 control-label"
                           style="color:{{ country_color }} !important;" >{% trans "Country" %}*</label>
                    <div class="col-sm-8 col-xs-8">
                        <input type="text" class="form-control" id="inputCountry" name="country"
                               placeholder="{% trans "Country" %}" style="border-color: {{ country_color }}
                        !important;" value="{{ country }}" required>
                    </div>
                </div>




            </div>

            <div class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-0 col-xs-10">
                <!-- COMMENTS -->
                <div class=" row form_el">
                    <label for="inputComments" class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-1
                    col-xs-12 control-label" style="color:{{ email_color }}
                    !important;">{% trans " Your request or comments" %}</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" id="inputComments" name="comments" rows="8" disable= yes
                         autofocus=yes  style="resize: vertical;" !important; value="{{ comments }}" required></textarea>
                    </div>
                </div>
            </div>
        </div>


       <!--
        ############################################
        #### REGISTER  BUTTON and CAPTCHA*** #####
        ##########################################
        -->
       <div class="row form_blck">
            <div class="col-xs-6">
                {% include 'captcha.html' %}
            </div>
            <div class="col-xs-6 text-right">
                <div class="form-group" style="margin-right: 25px; margin-top: 10px;">
                    <button type="submit" class="btn btn-success">{% trans "Contact" %}&nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </form>

</div>
{% endif %}

{% endblock %}
