{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/">{% trans "Home" %}</a></li>
	<li><a href="active">{% trans "Contact" %}</a></li>
</ol>
{% endblock %}

{% block content %}
<p> IN Progress </p>
<div class="row">
   <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <h4 class="in_front"> {% trans "Contact" %} </h4>
    <p>
        {% blocktrans %}
        In order to perform the quality of the site and offer the best service, please feel free to contact us by
        filling this following form.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
        Your data remain confidential and will not be used by third parties.
        {% endblocktrans %}
    </p>

</div>
</div>
{% endblock %}