{% extends 'base.html' %}
{% load static %}
{% load i18n %} 

{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/">{% trans "Home" %}</a></li>
	<li class="active">{% trans "Create offer or demand" %}</li>
</ol>
{% endblock %}


{% block content %}
{% if errorlist %}
    <div class="row warning">
        <div class="col-md-12 ">
            <h5>{% trans "There are errors in the form :" %}</h5>
            <ul>
            {% for errorname, errordesc in errorlist.items %}
                <li>{{ errorname }} : {{ errordesc }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
<div class="well">
	<form class="form-horizontal" role="form" method="post">
		{% csrf_token %}
		<div class="col-md-6">
			<div class="form-group">
				<label class="col-sm-3 col-xs-12 col-sm-offset-1 control-label">{% trans "Person" %}</label>
				<div class="col-sm-8">
					<p class="form-control-static">
						{% if user.first_name %}
				            {{ user.first_name }} {{ user.last_name }}
				        {% else %}
				            {{ user }}
				        {% endif %}
				    </p>
				</div>
			</div>

			{% if au %}
			<div class="form-group">
				<label for="" class="col-sm-3 col-xs-12 col-sm-offset-1 control-label">{% trans "For PIN ?" %}*</label>
				<div class="col-sm-8">
					<div class="form-inline">
						<select class="form-control" name="pin">
							<option value="None">{% trans 'None' %}</option>
							{% for j in pin %}
								<option value="{{ j.id }}">{{ j }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			{% endif %}

			<div class="form-group">
				<label class="col-sm-3 col-xs-12 col-sm-offset-1 control-label">{% trans "Type" %}*</label>
				<div class="col-sm-8">
					<div class="radio">
						<label>
							<input type="radio" name="type" id="offer" value="offer" checked>
		    				{% trans "Offer" %}
		    			</label>
		    		</div>
		    		<div class="radio">
		    			<label>
							<input type="radio" name="type" id="demand" value="demand">
		    				{% trans "Demand" %}
		    			</label>
	    			</div>
				</div>
			</div>

			<div class="row">

				<!-- STREET -->
				<div class=" row form_el">
				    <label for="inputStreet" class="col-sm-3 col-xs-12 col-sm-offset-1 control-label" style="color:{{ street_color }} !important;" >{% trans "Address" %}</label>
				    <div class="col-sm-6 col-xs-9">
				        <input type="text" class="form-control" id="inputStreet" name="street" placeholder="{% block address_placeholder %}{% trans "Street" %}{% endblock %}" style="border-color: {{ street_color }} !important;"  value="{{ street }}">
				    </div>
				    <!-- STREET NUMBER -->
				    <div class="col-sm-2 col-xs-3">
				        <input type="text" class="form-control" id="inputNumber" name="streetnumber" placeholder="{% trans "N°" %} " style="border-color: {{ streetnumber_color }} !important;" value="{{ streetnumber}}">
				    </div>
				</div>

				<div class="row form_el">
				    <!-- CITY -->
				    <label for="inputCity" class="col-sm-3 col-sm-offset-1 col-xs-12 control-label" style="color:{{ city_color }} !important;" >{% trans "City" %}</label>
				    <div class="col-sm-5 col-xs-8">
				        <input type="text" class="form-control" id="inputCity" name="city" placeholder="{% trans "City" %}" style="border-color: {{ city_color }} !important;" value="{{ city }}">
				    </div>
				    <!-- POSTCODE -->
				    <div class="col-sm-3 col-xs-4">
				        <input type="text" class="form-control" id="inputPostCode" name="postcode" placeholder="{% trans "Post code" %}" style="border-color: {{ postcode_color }} !important;" value="{{ postcode }}">
				    </div>
				</div>

				<div class="row form_el">
				    <!-- COUNTRY -->
				    <label for="inputCountry" class="col-sm-3 col-sm-offset-1 col-xs-12 control-label" style="color:{{ country_color }} !important;" >{% trans "Country" %}</label>
				    <div class="col-sm-8 col-xs-8">
				        <input type="text" class="form-control" id="inputCountry" name="country" placeholder="{% trans "Country" %}" style="border-color: {{ country_color }} !important;" value="{{ country }}">
				    </div>
				</div>
			</div>

			<div class="form-group">
				<label for="inputDate" class="col-sm-3 col-xs-12 col-sm-offset-1 control-label" style="color:{{ date_color }} !important;">{% trans "When ?" %}</label>
				<div class="col-sm-8">
					<div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
						<input class="form-control" type="text" name="date" id="inputDate" value="{{ date }}" placeholder="{% trans "yyyy-mm-dd" %}" style="border-color:{{ date_color }} !important;">
						<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
					<input type="hidden" id="dtp_input2" value="" />
				</div>
			</div>

			<div class="form-group">
				<label for="" class="col-sm-3 col-xs-12 col-sm-offset-1 control-label">{% trans "What ?" %}*</label>
				<div class="col-sm-8">
					<div class="form-inline">
						<select class="form-control" name="category">
							{% include 'categories.html' %}
						</select>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-8 col-sm-offset-4">
					<div class="form-inline">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="filters_checkbox" name="filters"{% if filters == 'on' %} checked {% endif %}> {% trans 'Apply filters' %}
							</label>
						</div>
					</div>
				</div>
			</div>

			<div id="filters_hidden_box"  name="filters"{% if filters != 'on' %} style="display:none" {% endif %}>
				<div class="form-group">
					<label for="" class="col-sm-3 col-xs-12 col-sm-offset-1 control-label" style="color:{{ filters_color }} !important;">{% trans "Verified" %}</label>
					<div class="col-sm-8">
						<div class="form-inline">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="verified" name="filters"{% if verified == 'on' %} checked {% endif %}> {% trans 'Only show to verified people' %}
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-3 col-xs-12 col-sm-offset-1 control-label" style="color:{{ min_rating_color }} !important;">{% trans "Minimal rating" %}</label>
					<div class="col-sm-8">
						<div class="form-inline">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="min_rating" name="filters"{% if min_rating == 'on' %} checked {% endif %}> {% trans 'Only show to people with a minimal rating' %}
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="inputGender" class="col-sm-3 col-xs-12 col-sm-offset-1 control-label" style="color:{{ gender_color }} !important;">{% trans "Gender" %}</label>
					<div class="col-sm-8">
						<div class="form-inline">
							<select class="form-control" id="inputGender" name="gender" style="border-color:{{ gender_color }} !important;" required>
			                    <option value="U" {% if gender == 'U' %} selected {% endif %}>{% trans "Unspecified" %}</option>
			               		<option value="M" {% if gender == 'M' %} selected {% endif %}>{% trans "Male" %}</option>
			                	<option value="F" {% if gender == 'F' %} selected {% endif %}>{% trans "Female" %}</option>
			                </select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-3 col-xs-12 col-sm-offset-1 control-label" style="color:{{ min_age_color }} !important;color:{{ max_age_color }} !important;">{% trans "Age" %}</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="inputRating" value="{{ min_age }}" name="min_age" style="border-color:{{ min_age_color }} !important;" placeholder="{% trans 'Minimal age' %}">
					</div>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="inputRating" value="{{ max_age }}" name="max_age" style="border-color:{{ max_age_color }} !important;" placeholder="{% trans 'Maximal age' %}">
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group" style="margin-top:86px;">
				<label for="description" class="col-xs-12 " style="color: {{ description_color }} !important;" value="{{ country }}">{% trans "Description" %}*</label>
				<div class="col-xs-12">
					<textarea class="form-control" rows="9" id="description" name="description" maxlength="512" style="border-color: {{ description_color }} !important;" value="{{ country }}" required>{{ description }}</textarea>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-xs-12 text-right">
			<button type="submit" class="btn btn-success">Post&nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right"></i></button>
		</div>

	</form>
</div>
{% endblock %}