{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/">{% trans "Home" %}</a></li>
	<li><a href="active">{% trans "FAQ" %}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h4 class="in_front"> {% trans "FAQ" %} </h4>
        <p>
            {% blocktrans %}
            The website isn't very complicated... Figure it out yourself
            {% endblocktrans %}
        </p>
	</div>
</div>

{% endblock %}
