{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<!--
#######################################
##### CHALLENGE PROGRESS & SEARCH #####
#######################################
 -->
<div class="row">
	<div class="col-sm-8">
		<h4 class="text-center">{% trans "Challenge progress" %}</h4>
		<div class="progress">
			<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;background-color: #e1007a;">
				<span>60%</span>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<form class="form-inline" role="form" id="search_field" method="POST" action="{% url 'search' %}">
			<div style="height: 33px;" class="hidden-xs"></div>
			<div class="input-group">
                {% csrf_token %}
				<div class="input-group-btn"><button class="btn btn-default" disabled="disabled"><i class="glyphicon glyphicon-search"></i></button></div>
				<input type="search" class="form-control" name="search" id="search" placeholder="Search">
                <script type="text/javascript">
                    $("#search").keypress(function(event){
                        if(event.which == 13) this.form.submit();
                    });
                </script>
				<span class="input-group-btn">
					<button class="btn btn-danger" type="submit" style="background-color: #e1007a;">{% trans "DARE-it!" %}</button>
				</span>
			</div>
			<div style="height: 33px;" class="visible-xs"></div>
		</form>
	</div>
</div>
<!--
#########################################
##### CONCEPT / TESTIMONIES / VIDEO #####
#########################################
 -->
<div id="home_content">
	<div class="col-md-4 col-sm-6">
		<h4 class="in_front">{% trans "The concept" %}</h4>
		<div class="custom_homepage_blck">
			<p style="text-align:justify">
	            {% blocktrans %}
	            <strong>Solidare-it!</strong> is an initiative that tries to enhance the solidarity and the exchange between
	            citizens of all layers of society. From the name “Solidare-it !” we can distill the following things
	            : “solidarity”, “dare it !” and “IT”. We try to stimulate people to dare becoming involved in real
	            solidarity through information technology. The internet and the social networks which arise from it are
	            used as tools to obtain this goal."
	            {% endblocktrans %}
	       	</p>
        </div>
	</div>

	<div class="col-md-4 col-sm-6">
		<h4>{% trans "Testimonies" %}</h4>
		<div class="custom_homepage_blck">
			{%  for testimony in testimonies  %}
			<blockquote style="text-align:justify">
				<p>{{ testimony.testimony }}</p>
			</blockquote>
	        {% endfor %}
    	</div>
	</div>

	<div class="clearfix visible-sm"></div>

	<div class="col-md-4 col-sm-6">
		<h4>&nbsp;</h4>
		<div class="custom_homepage_blck">
			<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
				<iframe allowfullscreen="" src="//www.youtube.com/embed/Pw_zX2V8HqQ?rel=0&wmode=transparent" frameborder="0"></iframe>
			</div>
		</div>
	</div>

	<div class="clearfix visible-md visible-lg"></div>
	<!--
	##################################################
	##### MANUAL / LAST OFFERS & DEMANDS / VIDEO #####
	##################################################
	 -->
	<div class="col-md-4 col-sm-6 ">
		<h4>{% trans "Video manual" %}</h4>
		<div class="custom_homepage_blck">
			<div class="custom_homepage_blck">
				<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
					<iframe allowfullscreen="" src="//www.youtube.com/embed/Pw_zX2V8HqQ?rel=0&wmode=transparent" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix visible-sm"></div>

	<div class="col-md-4 col-sm-6">
		<h4>{% trans "Latest offers and demands" %}</h4>
		<div class="custom_homepage_blck" style="overflow-x:hidden">
			{% if latest_requests %}
				<table class="table table-striped">
				{% for elem in latest_requests %}
					<tr>
                    {% include 'request_details.html' %}
					<td data-toggle="modal" data-target="#TON_ID_ICI{{ elem.0.id }}" style="cursor: pointer;padding:7px;">{{ elem.0.name|slice:":40" }}</td>
				</tr>
				{% endfor %}
				</table>
			{% endif %}
		</div>
	</div>

	<div class="col-md-4 col-sm-6">
		<h4>&nbsp;</h4>
		<div class="custom_homepage_blck">
			<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
				<iframe allowfullscreen="" src="//www.youtube.com/embed/Pw_zX2V8HqQ?rel=0&wmode=transparent" frameborder="0"></iframe>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<!--
	########################################################
	##### CALENDAR & NEWS / CHALLENGE MAP / DL & SHARE #####
	########################################################
	 -->
	<div class="col-md-4 col-sm-6">
		<h4>{% trans "Calendar and news" %}</h4>
		<div class="custom_homepage_blck">
			<p style="font-style: italic; text-align: center;margin-top: 40px;">
				{% trans 'Free space for the calendar and news section.' %}
			</p>
		</div>
	</div>

	<div class="col-md-4 col-sm-6">
		<h4>{% trans "Challenge map" %}</h4>
		<div class="custom_homepage_blck">
			<p style="font-style: italic; text-align: center;margin-top: 40px;">
				{% trans 'Free space for the challenge Map.' %}
			</p>
		</div>
	</div>

	<div class="clearfix visible-sm"></div>

	<div class="col-md-4 col-sm-6">
		<h4>{% trans "Download and share" %}</h4>
		<div class="custom_homepage_blck">
			<p style="font-style: italic; text-align: center;margin-top: 40px;">
				{% trans 'Free space for the download section.' %}
			</p>
		</div>
	</div>
</div> <!-- #home_content -->

<div class="clearfix"></div>
<!--
####################
##### PARTNERS #####
####################
-->
<h4 style="margin-top: 40px;">{% trans "Our partners:" %}</h4>
<div class="well" id="partners">
	<div class="row text-center" style="margin: 0px">
		<div class="col-md-2 col-sm-4 col-xs-6"><img src="{% static 'images/resto_coeur.png' %}" class="img-responsive" alt="Resto du coeur"></div>
		<div class="col-md-2 col-sm-4 col-xs-6"><img src="{% static 'images/11_11_11.png' %}" class="img-responsive" alt="11.11.11"></div>
		<div class="col-md-2 col-sm-4 col-xs-6"><img src="{% static 'images/armes_belgique.png' %}" class="img-responsive" alt="Union fait la force"></div>
		<div class="col-md-2 col-sm-4 col-xs-6"><img src="{% static 'images/resto_coeur.png' %}" class="img-responsive" alt="Resto du coeur"></div>
		<div class="col-md-2 col-sm-4 col-xs-6"><img src="{% static 'images/11_11_11.png' %}" class="img-responsive" alt="11.11.11"></div>
		<div class="col-md-2 col-sm-4 col-xs-6"><img src="{% static 'images/armes_belgique.png' %}" class="img-responsive" alt="Union fait la force"></div>
	</div>
</div>
{% endblock %}
