{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/">{% trans "Home" %}</a></li>
	<li><a href="/register/">{% trans "Register" %}</a></li>
	<li class="active">{% trans "New individual" %}</li>
</ol>
{% endblock %}


{% block content %}
    {% if error %}

    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-1"></div>
        <div class="col-md-8 col-sm-6 col-xs-10 warning">
            <h5>{% trans "There are errors in the form :" %}</h5>
            <ul>
            {% for errorname, errordesc in errorlist.items %}
                <li>{{ errorname }} : {{ errordesc }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-1"></div>
    </div>

    {% endif %}

        <form class="form-horizontal" role="form" method="post" action="" autocomplete="on" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row form_blck">
                <!-- PERSONNAL INFORMATIONS :
                                                - NAME
                                                - FIRST NAME
                                                - USER NAME
                                                - MAIL
                                                - PASSWORD & CONFIRMATION
                -->
                {% include 'personnal_informations.html' %}
                {% include 'address.html' %}       </div>

            <!--
            ##########################
            #### REGISTER BUTTON #####
            ##########################
            -->
            <div class="row">
                <div class="col-xs-12 text-right">
                    <div class="form-group" style="margin-right: 25px; margin-top: 10px;">
                            <button type="submit" class="btn btn-success">{% trans "Register" %}&nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right"></i></button>
                    </div>
                </div>
            </div>
    </form>
{% endblock %}