{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="/register/">Register</a></li>
	<li class="active">New individual</li>
</ol>
{% endblock %}


{% block content %}
<div class="row">
<form class="form-horizontal" role="form">
	<!--
	#######################
	#### FIRST COLUMN #####
	#######################
	-->
	<div class="col-md-5">
		<div class="col-md-12 col-sm-9">
			{% block first_column %}
			<div class="form-group">
				<label for="inputName" class="col-sm-3 control-label">Name*</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="inputName" placeholder="Name" name="last_name" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputFirstName" class="col-sm-3 control-label">First name*</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="inputFirstName" placeholder="First name" name="first_name" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputUserName" class="col-sm-3 control-label">User name*</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="inputUserName" placeholder="User name" name="username" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail" class="col-sm-3 control-label">Email*</label>
				<div class="col-sm-9">
					<input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputPassword3" class="col-sm-3 control-label">Password*</label>
				<div class="col-sm-9">
					<input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputConfirmation" class="col-sm-3 control-label">Confirmation*</label>
				<div class="col-sm-9">
					<input type="password" class="form-control" id="inputConfirmation" placeholder="Confirm password" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputStreet" class="col-sm-3 col-xs-12 control-label">Address*</label>
				<div class="col-sm-7 col-xs-9">
					<input type="text" class="form-control" id="inputStreet" placeholder="{% block address_placeholder %}Street{% endblock %}" name="place_street" required>
				</div>
				<div class="col-sm-2 col-xs-3">
					<input type="text" class="form-control" id="inputNumber" placeholder="N°" name="place_number" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputCity" class="col-sm-3 col-xs-12 control-label">City*</label>
				<div class="col-sm-6 col-xs-8">
					<input type="text" class="form-control" id="inputCity" placeholder="City" name="place_city" required>
				</div>
				<div class="col-sm-3 col-xs-4">
					<input type="text" class="form-control" id="inputPostCode" placeholder="Post code" name="place_pc" required>
				</div>
			</div>
			{% endblock %}
		</div>
	</div>
	<!--
	########################
	#### SECOND COLUMN #####
	########################
	-->
	<div class="col-md-7">
		<div class="col-sm-9">
			{% block second_column %}
			<div class="form-group">
				<label for="inputPhone" class="col-sm-3 col-xs-12 control-label">Phone</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="inputPhoneNumber" placeholder="Phone number">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
				<label for="inputIDCard" class="col-sm-3 control-label">ID Card</label>
					<button class="btn btn-primary"><i class="glyphicon glyphicon-upload"></i>&nbsp;&nbsp;Upload copy</button>&nbsp;&nbsp;&nbsp;No file selected
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<div class="checkbox">
						<label><input type="checkbox"> Only show my username</label>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<div class="checkbox">
						<label><input type="checkbox"> Send mails on my personnal address</label>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="inputFacebook" class="col-sm-3 control-label">Captcha</label>
				<div class="col-sm-9">
					<img src="{% static 'images/captcha.gif' %}" class="img-responsive" alt="Captcha" style="margin: 0">
				</div>
			</div>
			{% endblock %}
		</div>
		<!--
		#######################
		#### THIRD COLUMN #####
		#######################
		-->
		{% block third_column %}
		<div class="clearfix visible-xs"></div>
		<div class="col-sm-3 col-xs-6 text-center" style="margin-bottom: 15px;">
			<label>Profile picture</label>
			<img src="{% static 'images/default_avatar.jpg' %}" class="img-responsive img-circle" style="margin-bottom: 20px" alt="Profile picture">
			<button class="btn btn-primary"><i class="glyphicon glyphicon-camera"></i>&nbsp;&nbsp;Change</button>
		</div>
		{% endblock %}
	</div>

	<!--
	##########################
	#### REGISTER BUTTON #####
	##########################
	-->
	<div class="clearfix"></div>
	<div class="col-xs-12 text-right">
		<div class="form-group" style="margin-right: 25px; margin-top: 10px;">
				<button type="submit" class="btn btn-success">Register&nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right"></i></button>
		</div>
	</div>
</form>
</div>
{% endblock %}