{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/">{% trans "Home" %}</a></li>
	<li class="active">{% trans "Log in" %}</li>
</ol>
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 well">
		<!--<img src="{% static 'images/default_avatar.jpg' %}" class="img-responsive img-circle" style="margin-bottom: 20px" alt="Log in">-->
		<form class="form-signin" id="sign_in" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {% if redirect %}<input type="hidden" value="{{ redirect }}" name="next" />{% endif %}
			<input type="text" class="form-control" placeholder="{% trans "Email address" %}" name="username" required autofocus>
			<input type="password" class="form-control" placeholder="{% trans "Password" %}" name="password" required>
			<!--<label class="checkbox"><input type="checkbox" value="remember-me"> Remember me</label>-->
			<button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Log in" %}</button>
			<a class="btn btn-lg btn-success btn-block" href="{% url 'register' %}">{% trans "Register" %}</a>
			
		</form>
	</div>
</div>
{% endblock %}