{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/">{% trans "Home" %}</a></li>
	<li class="active">{% trans "Internal Messages" %}</li>
</ol>
{% endblock %}

{% block content %}



{% if threads %}
<div class="row" style="margin:0 2%;">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message-col">
        {% for thread in threads %}

        <div id="clickable_{{ thread.0 }}" style="cursor: pointer;">
            <div class="row message-thread">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding: 0;">
                    {% if not thread.2 %}
                    <img src="{% static 'images/default_avatar.jpg' %}" class="img-responsive" style="width:50px;" />
                    {% else %}
                    <img src="{{ MEDIA_URL }}{{ thread.2 }}" class="img-responsive" style="width:50px;" />
                    {% endif %}
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-left:5px; min-height: 50px">
                    <span class="message-username">{{ thread.1 }}</span><br />
                    <span class="message-desc">{{ thread.3 }}</span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        $(function() {
            $('#clickable_{{ thread.0 }}').click(function() {
                $.ajax({
                    type: 'POST',
                    url: '{% url 'messages' %}',
                    data:   { 'csrfmiddlewaretoken':'{{ csrf_token }}',
                               'type': 3,
                                'id': {{ thread.0 }}
                            },
                    dataType: "html",
                    timeout: 3000,
                    success: function(data) {
                        $("#right_blck").html(data); },
                    error: function() {
                        alert('La requête n\'a pas abouti'); }
                });
            });
      });
      </script>
        {% endfor %}
	</div>

    <div id="right_blck">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 message-col message-list" id="i_need_to_be_scrolled" >
            <h4 style="text-align:center;">{% trans "Select a thread to display the messages." %}</h4>
        </div>
        {% if request_id %}
        <div class="col-xs-8 col-xs-offset-4" >
            <button class="btn btn-primary" style="width: 100%; margin: 5px" data-target="#new-message" data-toggle="modal" >
                <span class="glyphicon glyphicon-send"></span> {% trans "New message" %}</button>
        </div>
        {% endif %}
    </div>
</div>
{% else %}
    <h4 style="text-align:center;">{% trans "You don't have any messages in your letterbox yet." %}</h4>
{% endif %}

<script text="text/javascript">
$(document).ready(function() {
    $("#i_need_to_be_scrolled").scrollTop($("#i_need_to_be_scrolled").height());
});
</script>
{% endblock %}