{% load static %}
{% load i18n %}
<div class="col-sm-6 " id="non_required" style="margin-top: 15px;">
    <!-- PHONE NUMBER -->
    <div class="row form_el">
        <label for="inputPhoneNumber" class="col-sm-4 col-xs-12 control-label" >{% trans "Phone" %}</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputPhoneNumber" name="phone" placeholder="{% trans "Phone number" %}" value="{{ phone }}">
        </div>
    </div>

    <!-- ID CARD -->
    <div class="row form_el">
        <label for="inputIDCard" class="col-sm-3 col-sm-offset-1 control-label">{% trans "ID Card" %}</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputIDCard" name="id_card" placeholder="{% trans "ID card number" %}" value="{{ id_card }}">
        </div>
    </div>

    <!-- FACEBOOK -->
    <div class="row form_el">
            <label for="inputFacebook" class="col-sm-3 col-sm-offset-1 control-label">{% trans "Facebook" %}</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputFacebook" name="facebook" placeholder="{% trans "Facebook page URL" %}" value="{{ facebook }}">
            </div>
    </div>
</div>
