{% extends 'individual_registration.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/">{% trans "Home" %}</a></li>
	<li><a href="/register">{% trans "Register" %}</a></li>
	<li class="active">{% trans "New organisation" %}</li>
</ol>
{% endblock %}

<!--
#######################
#### FIRST COLUMN #####
#######################
-->
{% block first_column %}
{{ block.super }}
<div class="form-group">
	<label for="inputOrgName" class="col-sm-3 col-xs-12 control-label">{% trans "Organisation" %}</label>
	<div class="col-sm-9">
		<input type="text" class="form-control" id="inputOrgName" placeholder="{% trans "Name" %}">
	</div>
</div>
{% endblock %}

{% block address_placeholder %} {% trans "Organisation street"%}{% endblock %}

<!--
###########1############
#### SECOND COLUMN #####
############1###########
-->
{% block second_column %}
<div class="form-group">
	<label for="inputDescription" class="col-sm-3 col-xs-12 control-label">{% trans "Description"%}</label>
	<div class="col-sm-9">
		<textarea class="form-control" id="inputDescription" placeholder="{% trans "Small organisation description"%}" rows="3"></textarea>
	</div>
</div>

<div class="form-group">
	<label for="inputPhone" class="col-sm-3 control-label">{% trans "Telephone"%}</label>
	<div class="col-sm-9">
		<input type="text" class="form-control" id="inputPhone" placeholder="{% trans "Organisation telephone number"%}">
	</div>
</div>

<div class="form-group">
	<label for="inputVAT" class="col-sm-3 control-label">{% trans "VAT*"%}</label>
	<div class="col-sm-9">
		<input type="text" class="form-control" id="inputVAT" placeholder="{% trans "Organisation VAT number"%}">
	</div>
</div>

<div class="form-group">
	<label for="inputSite" class="col-sm-3 control-label">{% trans "Website"%}</label>
	<div class="col-sm-9">
		<input type="text" class="form-control" id="inputSite" placeholder="{% trans "Organisation website"%}">
	</div>
</div>

{% block facebook_field %}{{ block.super }}{% endblock %}
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<div class="checkbox">
			<label><input type="checkbox"> {% trans "Transfer emails to indicated address"%}</label>
		</div>
	</div>
</div>

<div class="form-group">
	<label for="inputFacebook" class="col-sm-3 control-label">{% trans "Captcha"%}</label>
	<div class="col-sm-9">
		<img src="{% static 'images/captcha.gif' %}" class="img-responsive" alt="Captcha" style="margin: 0">
	</div>
</div>
{% endblock %}

<!--
#######################
#### THIRD COLUMN #####
#######################
-->
{% block third_column %}
{{ block.super }}
<div class="col-sm-3 col-xs-6 text-center" style="">
	<label>{% trans "Organisation logo"%}</label>
	<img src="{% static 'images/polaroid.png' %}" class="img-responsive" style="margin-bottom: 20px" alt="Profile picture">
	<button class="btn btn-primary"><i class="glyphicon glyphicon-camera"></i>&nbsp;&nbsp;{% trans "Change"%}</button>
</div>
{% endblock %}