{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/">{% trans "Home" %}</a></li>
	<li><a href="/register/">{% trans "Register" %}</a></li>
	<li class="active">{% trans "New organisation" %}</li>
</ol>
{% endblock %}


{% block content %}


    <form class="form-horizontal" role="form" method="post" action="" autocomplete="on" enctype="multipart/form-data" id="organisation">
        {% csrf_token %}

        {% if error %}
            <div class="row warning">
                <div class="col-md-12 ">
                    <h5>{% trans "There are errors in the form :" %}</h5>
                    <dl class="dl-horizontal">
                    {% for errorname, errordesc in errorlist.items %}
                        <dt>{{ errorname }} : </dt><dd>{{ errordesc }}</dd>
                    {% endfor %}
                    </dl>
                </div>
            </div>
        {% endif %}

        <div class="row form_blck">
            <div class=" text-center"><span class="form_blck_title">{% trans "Person of reference informations" %}</span></div>
            {% include 'personnal_informations.html' %}
        </div>

        <div class="row form_blck">
            <div class=" text-center"><span class="form_blck_title">{% trans "Oganisation informations" %}</span></div>
            {% include 'organisation_informations.html' %}

            <div class="row">
                <div class="col-md-6" style="margin-top: 15px;">
                    {% include 'address.html' %}
                </div>
                {% include 'non_required.html' %}
            </div>
        </div>

        <div class="row form_blck">
            <div class=" text-center"><span class="form_blck_title">{% trans "Photos" %}</span></div>
            {% include 'profile_pic.html' %}
            {% include 'org_pic.html' %}
        </div>
        <div class="row form_blck">
            <div class=" text-center"><span class="form_blck_title">{% trans "Form validation" %}</span></div>
            <div class="col-md-offset-1 col-sm-5 " id="captcha">
                {% include 'captcha.html' %}
            </div>
            <div class="col-sm-6 text-right" >
                <div class="form-group" style="margin-right: 25px;" id="submit_button">
                    <button type="submit" class="btn btn-success">{% trans "Register" %}&nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        /* centers vertically the elements*/
        var once = '';
            $(window).on("load resize", function(e) {
               if (once != 1) {
                    once = 1;
                    centerVertically('captcha', 'submit_button');
                }
              });
        </script>
    </form>
{% endblock %}