{% load static %}
{% load i18n %}
<!-- Modal -->
<div class="modal fade" id="TON_ID_ICI{{elem.0.id}}" tabindex="-1" role="dialog" aria-labelledby="Account-Type" aria-hidden="true">
    <div class="modal-dialog modal_custom">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ elem.0.name }}</h4>
            </div>
            <div class="modal-body">
                {% if elem.0.state == 'P' %} 
                    {% trans "State :" %} {% trans "Proposal" %}<br>
                {% elif elem.0.state == 'I' %}
                    {% trans "State :" %} {% trans "In progress" %} <br>
                {% elif elem.0.state == 'D' %}
                    {% trans "State :"%} {% trans "Done" %}<br>
                {% endif %}

                {% trans "Category" %} : {{ elem.0.category }} <br>
                
                {% trans "Proposer" %} : {% if elem.1 %}<a href="{% url 'profile' %}?profile_id={{ elem.0.proposer.id }}" >{{ elem.1 }}</a>{% else %}/{% endif %}<br>
                
                {% trans "Demander" %} : {% if elem.2 %}<a href="{% url 'profile' %}?profile_id={{ elem.0.demander.id }}" >{{ elem.2 }}</a>{% else %}/{% endif %}<br>

                
                
                {% trans "Date" %} : {{ elem.0.date }} <br><br>

                <a href="{% url 'account' %}?susp_req_id={{ elem.0.id }}" class="btn btn-default" ><i class="glyphicon glyphicon-warning-sign custom_alert"></i></a>

                
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->