{% load static %}
{% load i18n %}
<!-- Modal -->
<div class="modal fade" id="TON_ID_ICI{{elem.0.id}}" tabindex="-1" role="dialog" aria-labelledby="Account-Type" aria-hidden="true">
    <div class="modal-dialog modal_custom">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ elem.0.name }}</h4>
            </div>
            <div class="modal-body">
                {% if elem.0.state == 'P' %} 
                    {% trans "State :" %} {% trans "Proposal" %}<br>
                {% elif elem.0.state == 'I' %}
                    {% trans "State :" %} {% trans "In progress" %} <br>
                {% elif elem.0.state == 'D' %}
                    {% trans "State :"%} {% trans "Done" %}<br>
                {% endif %}

                {% trans "Category" %} : {{ elem.0.category }} <br>
                {% if elem.1 %}
                    <form action="/profile/" method="POST">
                        {% csrf_token %}
                        <button type="submit" style="padding-left:0; background: transparent none; border: 0 none;">
                        {% trans "Proposer" %} : {{ elem.1 }}
                        </button>
                        <input name="profile_id" value="{{ elem.0.proposer.id }}" type="hidden" readonly/>
                    </form><br>
                {% else %}
                    {% trans "Proposer" %} : /<br>
                {% endif %}
                {% if elem.2 %}
                    <form action="/profile/" method="POST">
                        {% csrf_token %}
                        <button type="submit" style="padding-left:0; background: transparent none; border: 0 none;">
                        {% trans "Demander" %} : {{ elem.2 }}
                        </button>
                        <input name="profile_id" value="{{ elem.0.demander.id }}" type="hidden" readonly/>
                    </form><br>
                {% else %}
                    {% trans "Demander" %} : /<br>
                {% endif %}


                
                
                {% trans "Date" %} : {{ elem.0.date }} <br><br>


                <form action="." method="POST">
                    {% csrf_token %}
                <input name="request_id" value="{{ elem.0.id }}" type="hidden" readonly/>
                 <button type="submit" class="btn btn-default" style="position:absolute; right:20px">
                     <span class="glyphicon glyphicon-warning-sign custom_alert"></span>
                 </button>
                </form>
                
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->