{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="/">{% trans "Home" %}</a></li>
    <li><a href="{% url 'profile' %}">{% trans "Account" %}</a></li>
    <li href="active">{% trans "Search" %}</li>
</ol>

<p>In progress</p>
{% endblock %}

{% block content %}

<form id="search_form" method="POST" action="{% url 'search' %}">
    {% csrf_token %}
    <div class="col-sm-10" style="margin-bottom: 2em">
    <div style="height: 33px;" class="hidden-xs"></div>
    <div class="input-group">
        <div class="input-group-btn">
            <button class="btn btn-default" disabled="disabled"><i class="glyphicon glyphicon-search"></i></button>
        </div>
        <input type="search" class="form-control" id="search" name="search" placeholder="Search" >
        <script type="text/javascript">
            $("#search").keypress(function(event){
                if(event.which == 13) this.form.submit();
            });
        </script>
        <span class="input-group-btn">
            <button class="btn btn-danger" type="submit" autofocus>{% trans "Search" %}</button>

        </span>

    </div><!-- /input-group -->
    <div style="height: 33px;" class="visible-xs"></div>
    </div>
</form>


<div class="row">
    {% for elem in search_results %}
    <div class="col-sm-4 col-xs-6">
        <div class="panel panel-info box">
            <div class="panel-heading">
                <h3 class="panel-title">{{ elem.0 }}</h3>
            </div>
            <div class=" row el" style="margin-left:0.25em ; margin-top:0.25em ;" >
                <ul class="list-unstyled">
                    <li>{% trans "Type" %} : {{ elem.1 }}</li>
                    <li>{% trans "By" %} : {{ elem.2 }}</li>
                    <li>{% trans "Place" %} : {{ elem.3 }}</li>
                    {% if elem.4 %}
                        <li>{% trans "When" %} : {{ elem.4 }}</li>
                    {% else %}
                        <li>{% trans "When" %} : {% trans "Unspecified" %}</li>
                    {% endif %}

                </ul>
            </div>
                <!-- <div class="col-md-12">
                    <button class="btn btn-success">{% trans "I want to help you" %}</button>
                    <button class="btn btn-info" style="position: absolute; right:0px;">{% trans "Get in touch" %}</button>
                </div> -->


            <div class="row">
            <div class="span6" style="text-align:center">
            <p><button href="#" class="btn btn-success primary large" style="width: 60%;">{% trans "I would like to help you" %}</button></p>

            </div>
    </div>

        </div>
    </div>
    {% endfor %}
</div>

{% if max_times == 0 and searched %}

<div class="row warning">
                <div class="col-md-12 ">
                    <h5>{% trans "No matches found" %}</h5>
                </div>
            </div>
{% endif %}

{% endblock %}
